<% include ../partials/header %> 


<link rel="stylesheet" href="/css/createPostForm.css">

 <div class="main bgImage">
        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form action='/posts/<%=post.id%>/comments' method='POST' id="signup-form" class="signup-form">
                        <h2 class="form-title">CREATE Comment</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="author" id="name" placeholder="Author"/>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-input" name="text" id="password" placeholder="text"/>
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>

                         <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Submit Comment"/>
                        </div> 
                        
                    </form>
                   
                </div>
            </div>
        </section>

    </div>


<% include ../partials/footer %> 
