<h1>Home Page</h1>


<ul>
    <ul>
        <li><a href="/posts/new"> Create Post</a></li>
        <li><a href="/posts/"> All Posts</a></li>
        <li><a href="/users/register/new"> Register</a></li>
        <li><a href="/users/login/new"> Login</a></li>
        <li><a href="/users/logout"> Logout</a></li>

    </ul>
</ul>
