<h1>LOGIN</h1>

   
 <form action="/users/login" method="POST">
     <label>Username</label>
     <input type="text" name="username" placeholder="Enter Username"/>

     <label>Password</label>
     <input type="text" name="password" placeholder="Enter Password"/>

     <button type="submit"Register>Login</button>
 </form>