<h1>REGISTER</h1>

   
 <form action="/users/register" method="POST">
     <label>Username</label>
     <input type="text" name="username" placeholder="Enter Username"/>

     <label>Password</label>
     <input type="text" name="password" placeholder="Enter Password"/>

     <button type="submit"Register>Register</button>
 </form>